/* Color Palette */
  :root {
    --bg-color-1: hsl(211, 49%, 13%);
    --bg-color-2: hsl(210, 25%, 36%);
    --font: hsl(0, 0%, 100%);
    --accent-1: hsl(84, 93%, 83%);
    --accent-2: hsl(164, 95%, 43%);
}

/* CSS reset */
  * {
    margin: 0;
    padding: 0;
  }
  
  html {
  font-size: 100%;
}

html {
  scroll-behavior: smooth;
}
body{
  font-family: "Hanken Grotesk", system-ui, sans-serif;  
  font-size: 1.5rem;
  color: var(--font);
  background: var(--bg-color-1);
  text-align: justify;
}

@media (max-width: 700px) {
  body {
    font-size: 1.3rem;
  }
}

header {
  padding: 6rem;
  background-color: var(--bg-color-2);
  /* text-align: center; */
  border-bottom: 2px solid hsl(210, 25%, 46%);
  border-bottom: 2px solid hsl(0, 0%, 100%);
}

@media (max-width: 700px) {
  header {
    padding-left: 2rem;
  }
}

header h1 {
  font-size: 3rem;
  font-weight: 800;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--accent-2);
  font-family: "Lora", system-ui, sans-serif;  

}

nav {
  position: absolute;
  right: 2rem;
  top: 2rem;
}
nav a {
  display: inline-block;
  margin: 0 1rem;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  transition: all .5s ease;
  border-radius: 10%;
}
nav a:hover {
  color: var(--accent-1);
  transform: scale(1.3);
}

@media (max-width: 750px) {
  nav a {
    margin: 0 .5rem;
  }
}

main {
  margin: 0;
}

@media (max-width: 850px) {
  main {
    margin: 2rem;
  }
}

@media (max-width: 600px) {
  main {
    margin: 1rem;
  } 
}

.about-section, 
.portfolio-section, 
.contact-section{
  margin-bottom: 0 1rem;
}

.about-content, 
.portfolio-content, 
.contact-content {
  max-width: 60rem;
  margin: 4rem auto;
}

.portfolio-item {
  margin-bottom: 5rem;
  background-color: hsl(210, 25%, 36%);
  padding: 3rem;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 4px hsl(210, 50%, 13%);;
  border: 2px solid hsl(210, 50%, 13%);
  font-size: 1.125rem;
}

@media (max-width: 800) {
  .portfolio-item {
    padding: 3rem;
  }
}
@media (max-width: 650) {
  .portfolio-item {
    padding: 2rem;
  }
}

.portfolio-item img{
  max-width: 100%;
  display: block;
  margin: auto;
  border-radius: 1rem;
}

.portfolio-item h3 {
  margin: 0.5rem 0;
}

.portfolio-section {
  padding: 1rem 1rem;
  background-color: hsl(210, 50%, 17%);
}

footer {
  text-align: right;
  padding: 1rem;
  font-size: 1.125rem;
  background-color: hsl(210, 50%, 12%);
}

/* Style classes */
.accent-1 {
  color: var(--accent-2);
} 



.portfolio-content h2 {
  text-align: center;
  margin: 1rem;
}