@font-face {
  font-family: "HankenGrotesk";
  font-display: swap; /* For performance*/
  font-weight: 100 900;
  src: url(fonts/HankenGrotesk-VariableFont_wght.ttf);
}

:root {
  --clr-primary: hsl(210, 50%, 13%);
  --clr-secondary: hsl(210, 25%, 36%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 0%);
  --clr-green: hsl(152, 70%, 31%);
  --clr-red: hsl(355, 72%, 54%);
  --clr-grey-light: hsl(0, 0%, 83%);
  --clr-grey-dark: hsl(215, 7%, 46%);

  --font-family-default: 'HankenGrotesk', sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --fw-black: 900;
  
  --fs-400: 1.125rem;
  --fs-500: 1.5rem;
  --fs-700: 2rem;
  --fs-800: 3rem;
  --fs-900: 5rem;
}

/* CSS reset
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin and padding
  */
  * {
    margin: 0;
    padding: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  /* 9. Extra for list reset */
  ul[role='list'], /* Keeps the semantics of a list but you can style it. When you put list style none, screen readers won't read it as a list but when written this way, it is still a list.*/
  ol[role='list'] {
  list-style: none;
  margin: 0;
  padding: 0;
  }

  /* 10. Extra Link reset  */
  a {
    text-decoration: none;
    color: inherit;
}
/* 11. respect user font size preferences */
html {
  font-size: 100%;
}

/* general styling */
body{
  font-family: var(--font-family-default);
  font-size: var(--fs-500);
  color: var(--clr-white);
  background: var(--clr-primary);
}

header {
  padding: 6rem;
  /* margin-bottom: 3rem; */
  background-color: var(--clr-secondary);
  /* text-align: center; */
  border-bottom: 2px solid var(--clr-grey-light);
}

header h1 {
  font-size: var(--fs-800);
  font-weight: var(--fw-extra-bold );
}

.about-section, 
.portfolio-section, 
.contact-section{
  margin-bottom: 5rem;
}

.about-content, 
.portfolio-content, 
.contact-content {
  max-width: 60rem;
  margin: 4rem auto;
}

.portfolio-item {
  margin-bottom: 5rem;
  background-color: var(--clr-secondary);
  padding: 3rem;
  text-align: justify;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 4px var(--clr-primary);
  border: 2px solid var(--clr-primary);
}
.portfolio-item img{
  max-width: 100%;
  display: block;
  margin: auto;
  border-radius: 1rem;
}

.portfolio-item h3 {
  margin:  0.5rem 0;
}

.portfolio-item {
  font-size: var(--fs-400);
}

/* .about-section {
  background-color: var(--clr-green);
} */

.portfolio-section {
  padding: 2rem 0;
  background-color: hsl(210, 50%, 17%);
}

footer {
  text-align: right;
  padding: 1rem;
  font-size: var(--fs-400);
  background-color: hsl(210, 50%, 14%);
}