@font-face {
  font-family: "HankenGrotesk";
  font-display: swap; /* For performance*/
  font-weight: 100 900;
  src: url(fonts/HankenGrotesk-VariableFont_wght.ttf);
}

:root {
  --clr-primary: hsl(210, 50%, 13%);
  --clr-secondary: hsl(210, 25%, 36%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 0%);
  --clr-green: hsl(152, 70%, 31%);
  --clr-red: hsl(355, 72%, 54%);
  --clr-grey-light: hsl(0, 0%, 83%);
  --clr-grey-dark: hsl(215, 7%, 46%);

  --font-family-default: 'HankenGrotesk', sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;
  --fw-black: 900;

  --fs-400: 1.125rem;
  --fs-500: 1.5rem;
  --fs-700: 2rem;
  --fs-900: 5rem;
}

/* CSS reset
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin and padding
  */
  * {
    margin: 0;
    padding: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  /* 9. Extra for list reset */
  ul[role='list'], /* Keeps the semantics of a list but you can style it. When you put list style none, screen readers won't read it as a list but when written this way, it is still a list.*/
  ol[role='list'] {
  list-style: none;
  margin: 0;
  padding: 0;
  }

  /* 10. Extra Link reset  */
  a {
    text-decoration: none;
    color: inherit;
}

/* general styling */
body{
  font-family: var(--font-family-default);
  font-size: var(--fs-400);
  color: var(--clr-white);
  background: var(--clr-primary);
}


