/* CSS reset */
  * {
    margin: 0;
    padding: 0;
  }
  html {
  font-size: 100%;
}

body{
  font-family: system-ui, sans-serif;  
  font-size: 1.5rem;
  color: hsl(0, 0%, 100%);
  background: hsl(210, 50%, 13%);
}

header {
  padding: 6rem;
  background-color: hsl(210, 25%, 36%);
  /* text-align: center; */
  border-bottom: 2px solid hsl(210, 25%, 46%);
}

nav {
  position: absolute;
  right: 2rem;
  top: 2rem;
}
nav a {
  display: inline-block;
  margin: 0 1rem;
  text-decoration: none;
  color: white;
}

header h1 {
  font-size: 3rem;
  font-weight: 800;
}

.about-section, 
.portfolio-section, 
.contact-section{
  margin-bottom: 0 1rem;
}

.about-content, 
.portfolio-content, 
.contact-content {
  max-width: 60rem;
  margin: 4rem auto;
}

.portfolio-item {
  margin-bottom: 5rem;
  background-color: hsl(210, 25%, 36%);
  padding: 3rem;
  text-align: justify;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 4px hsl(210, 50%, 13%);;
  border: 2px solid hsl(210, 50%, 13%);
}
.portfolio-item img{
  max-width: 100%;
  display: block;
  margin: auto;
  border-radius: 1rem;
}

.portfolio-item h3 {
  margin:  0.5rem 0;
}

.portfolio-item {
  font-size: 1.125rem;
}

.portfolio-section {
  padding: 2rem 0;
  background-color: hsl(210, 50%, 17%);
}

footer {
  text-align: right;
  padding: 1rem;
  font-size: 1.125rem;
  background-color: hsl(210, 50%, 12%);
}