/* Color Palette */
:root {
  --bg-color-1: hsl(0, 0%, 90%);
  --bg-color-2: hsl(210, 25%, 36%);
  --font: hsl(211, 49%, 13%);
  --accent-1: hsl(84, 93%, 83%);
  --accent-2: hsl(164, 95%, 43%);
}

/* ---------- CSS reset ----------  */

/* Change box-sizing default to border-box */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default spacing */
* {
  margin: 0;
  padding: 0;
}

/* Respect user font settings */
html {
  font-size: 100%;
}

/* Make images responsive */
img {
  max-width: 100%;
  display: block;
}

/* ---------- General CSS ----------  */

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color-1);
  color: var(--font);
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: system-ui, Verdana, sans-serif;
  /* text-align: justify; */
}

header {
  padding: 5rem 2rem;
  margin-bottom: 7rem;
}

header h1 {
  text-shadow:
    -5px 5px 0px hsl(84, 93%, 83%, 90%),
    -10px 10px 0px hsl(84, 93%, 83%, 70%),
    -15px 15px 0px hsl(84, 93%, 83%, 50%);
}

nav a {
  text-decoration: none;
  color: var(--font);
  /* margin: 0 .75rem; */
  /* transition: all .1s ease; */
}

nav a:hover {
  color: var(--accent-2);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  color: var(--font);
  font-size: 3rem;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 1rem;
}

@media (max-width: 750px) {
  .navbar {
    align-items: flex-start;
  }

  .nav {
    display: flex;
    flex-direction: column;
  }
  .hamburger {
    display: block;
    align-self: flex-end;
  }

  .nav-menu {
    display: none;
  }

  .nav-menu.active {
    display: flex;
    flex-direction: column;
    background-color: var(--font);
    padding: 1rem;
  }

  .nav-menu a {
    color: var(--bg-color-1);
  }

  header {
    padding: 2rem 3rem;
  }
}

main {
  margin: 0;
}

@media (max-width: 1030px) {
  main {
    margin: 2rem;
  }
}

@media (max-width: 750px) {
  main {
    margin: 1rem;
  }
}

.about-content,
.portfolio-content,
.contact-content {
  max-width: 60rem;
  margin: 0 auto 7rem auto;
}
.about-content h2,
.portfolio-content h2,
.contact-content h2 {
  margin: 2rem 0;
}

.portfolio-item {
  padding: 1rem;
  background-color: var(--font);
  color: var(--bg-color-1);
  border-radius: 0.3rem;
}
.portfolio-item p {
  font-size: 1.125rem;
}
.portfolio-item h3 {
  font-size: 1.25rem;
}

.portfolio-item img {
  border-radius: 0.75rem;
}

footer {
  padding: 1rem 2rem;
}

footer img {
  display: inline;
  max-width: 2.5rem;
  margin: 0 0.5rem;
}

@media (max-width: 750px) {
  footer p {
    font-size: 1.2rem;
  }

  footer img {
    max-width: 2rem;
    margin: 0 0.2rem;
  }
}

@media (max-width: 450px) {
  footer p {
    font-size: 1rem;
  }

  footer img {
    max-width: 1.5rem;
    margin: 0 0.1rem;
  }
}
/* ---------- Flex styling ----------  */

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-container-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: stretch;
}

.flex-item-grid {
  flex: 1 1 18rem;
}
