*, *::before, *::after {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, hsl(215, 89%, 14%) 20%, hsl(352, 69%, 36%) 100%);
}

.container {
    max-width: 800px;
    margin: 200px auto;
    background: hsl(0, 0%, 100%);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 2 2 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: hsl(217, 100%, 15%);
    border-bottom: 1px solid hsl(0, 0%, 20%);
}
h2 {
    text-align: center;

}
#question-container {
    padding: 30px 0;
    display: none;
}
#name-container {
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
    margin: 30px;
}

.btn {
    background-color: hsl(211, 100%, 50%);
    color: hsl(0, 0%, 100%);
    font-size: 1.2em;
    border: 1.5px solid hsl(0, 0%, 13%);
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.2s ease;
}



.btn:hover:not([disabled]) {
    background-color: hsl(211, 100%, 35%);
}
.correct {
    background-color: hsl(146, 66%, 42%);
}
.incorrect {
    background-color: hsl(0, 100%, 69%);
}
.btn:disabled {
    cursor: no-drop;
}

#next-btn {
    background: hsl(217, 100%, 25%);
    color: hsl(0, 0%, 100%);
    font-weight: 500;
    width: 150px;
    border: none;
    padding: 10px;
    margin: 20px auto;
    border-radius: 4px;
    cursor: pointer;
    display: none;
    transition: background-color 0.3s ease;

}
#next-btn:hover {
    background-color: hsl(211, 100%, 35%);
  }

#question-fact {
    display: none;
    margin-top: 20px;
    font-style: italic;
    color: hsl(0, 0%, 40%);
}

